img {
  display: block;
  margin: 0 auto;
}

a, :visited{
  text-decoration: none;
  color: rgba(0,0,0,0.87);

}

a:hover{
text-decoration: underline;
}

form {
  align-content: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

li{
  display: inline;
}

li a {
  color: rgba(0,0,0,0.87);
}

#header{
  position: top right;
  top: 0;
  text-align: right;
  color: rgba(0,0,0,0.87);
}

#footer{
  position: absolute;
  bottom: 0;
  text-align: left
}

#thai{
  text-align: center;
}
#thai a{
    color: #1a0dab;
}
