img {
  display: block;
  margin: 0 auto;
}

#thai{
  text-align: center;

}

a, :visited{
  text-decoration: none;
  color: #1a0dab;

}

a:hover{
text-decoration: underline;
}

form {
  align-content: center;
}

#header{
  position: top right;
  top: 0;
  text-align: right;
}

#footer{
  position: absolute;
  bottom: 0;
  text-align: left
