

.flex{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}

.maincontainer{
  margin: auto;
}

.google{
  margin-top: 109px;
  margin-bottom: 20px;
}

.signin{
    background-color:#4285f4;
    width: 75px;
    height: 30px;
    color: azure;
    font-family: arial, sans-serif;
    font-size: 10pt;
    font-weight: 600;
    border-radius: 4px;
    border: none;
 }

 i.fas.fa-th::before{
   opacity: .55;
 }

 span#apps{
   vertical-align: middle;
 }

ul{
  padding-top: 15px;
}

body{
  font-family: arial,sans-serif;
  font-size: 15px;
}

img{
  display: block;
  margin: 0 auto;
}

a, :visited{
  text-decoration: none;
  color: rgba(0,0,0,0.87);

}

a:hover{
text-decoration: underline;
}

input{
  display: flex;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  width: 482px;
  font-size: 15px;
  margin: 0 auto 30px auto;
  font-family: arial, sans-serif;
}

button.mic{
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
  transform: translate(850%,-325%);
  border: none;
  background: transparent;
  background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

img.mag{
  width: 15px;
  height: 15px;
  display: block;
  margin: auto;
  transform: translate(-1450%,-400%);
  border: none;
  opacity: .35;
}

.buttons{
  text-align: center;
}

button.buttons{
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #5F6368;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  text-shadow: none;

}

header{
  text-align: right;
  color: rgba(0,0,0,0.87);
  line-height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

header li{
  display: inline;
  padding-left: 15px;
}

#thai{
  text-align: center;
  font-size: 17.8px;
}
#thai a{
    color: #1a0dab;

}

#footer{
  display: inline-block;
  text-align: left;
  background: #f2f2f2;
  line-height: 40px;
  margin: 0;

}

#footer p{
  color: rgba(0,0,0,.54);
  padding-left: 27px;
}

#footer li{
  float: left;
  background-color: #f2f2f2;
  padding-left: 27px;
  overflow: hidden;
}

#footer li a{
  color: rgba(0,0,0,.54);
}

#right{
  text-align: right;
  float: right;
  padding-right: 27px;
}

#right li{
  padding: 0 10px;
}
